version: '3.8'

services:
 auth_service:
  restart: on-failure
  depends_on:
   - postgres
  build:
   context: .
  ports:
  - "8088:8088"
  links:
   - postgres
  volumes:
   - ./:/v1
 postgres:
  image: postgres
  restart: on-failure
  ports:
  - "5433:5432"
  env_file:
  - ./configs/database-cfg.env
  volumes:
  - postgres:/var/lib/postgresql/data

volumes:
  postgres:
   driver: local
